<add key="AzureAD.ClientID" value="a323ffd2-9069-4662-9c72-4ea1a718c48c" />
		<add key="AzureAD.TenantID" value="efe5af36-b0a2-4d74-a1ba-2468be1ef887" />
		<add key="ADLSAccountName" value="raisblobstorage" />
		<add key="ADLSfileSystemName" value="staging-membercentral" />
		<add key="ADLSAccountKey" value="eqvcf7sk6axJyvNA6hnzjpwTy+o9aJ8P+AIKLGDeE/m5YLAzHZhp9zFmnO5TH4GYftrli1hLlL24+AStzqaG9Q==" />
		<add key="localFolder" value="D:\RAIS_Applications\MC_Migration" />
		<add key="DestinationFolder" value="Test" />
		<add key="DestinationSubmissionFormFolder" value="SubmissionForm" />
		<add key="ResourceGroupName" value="rais-mc" />
		<add key="SubscriptionId" value="6aeee4fc-7593-4491-b0f9-6ea35c1f9c21" />
		<add key="StorageAccount.ClientId" value="b1163e2f-8b18-4639-b25d-730a0c46a47f" />
		<add key="StorageAccount.ClientSecret" value="fXe8Q~ihEDES9mivZimJLb2J6-xDu0XIxUV1VbxX" />
		<add key="StorageAccount.Scope" value="https://management.azure.com/.default" />
		<add key="StorageAccount.OAuth2TokenUrl" value="https://login.microsoftonline.com/{tenant_id}/oauth2/v2.0/token" />
		<add key="StorageAccount.UpdateUrl" value="https://management.azure.com/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Storage/storageAccounts/{accountName}?api-version=2023-01-01"/>
